@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';


//< 공통
.m_popup-sign {
	padding: 32px 34px 0;

	&-title {
		margin: -1px 0 44px;

		.mm_title {
			padding: 0;
		}

		> p {
			padding: 13px 0 3px;
			@include mixin.font(var.$color_text_base '15px' center);
		}

		> b {
			display: block;
			padding: 12px 0 4px;
			@include mixin.font(#6a6a6a '13px' center);
		}
	}

	.mm_recommend {
		margin-bottom: 27px;

		@include mixin.context-before('.mm_radio-list +') {
			margin: 27px 0 50px;
		}
	}

	&-foot {
		margin-top: 18px;
	}
}

[class*="m_popup-sign"] {
	i[class*="mco_sns-"] {
		width: 47px;
		height: 47px;
		border-radius: 100%;
		@include mixin.font(#fff '/47px' center);

		$sns: (naver, #2fac58, 16px, 49px), (kakaotalk, #f1d200, 21px, 49px), (apple, #000, 21px, 44px), (facebook, #3C6FC3, 22px, 48px);
		@each $type, $bgColor, $fontSize, $lineHeight in $sns {
			&.mco_sns-#{$type} {
				background-color: $bgColor;
				@include mixin.font('#{$fontSize}/#{$lineHeight}');
			}
		}
	}
}
//> 공통

//< 로그인
.m_popup-login {
	.text_adult {
		padding: 3px 0 44px;
		@include mixin.font('17px/24px' center);

		.ico_adult {
			+ b {
				display: block;
				margin-top: 10px;
			}
		}
	}

	.mm_form-text {
		~ .mm_form-check {
			margin-top: 16px;
		}
	}

	&-security {
		> p {
			margin: 4px 0 -2px 1px;
			@include mixin.font('12px/16px');
		}

		.m__security-info {
			margin-top: 9px;
			padding: 14px 10px;
			border: 1px solid #cdcdcd;
			border-radius: 3px;
			background-color: #f5f5f5;
			font-size: 0;

			.image_security {
				width: 127px;
				height: 38px;
				text-align: center;

				img {
					height: 100%;
				}
			}

			.btn_refresh {
				margin: 6px 0 0 9px;
			}

			.mm_form-text {
				margin-top: 7px;
			}
		}
	}

	.m_login-customer-pw {
		display: block;
		margin-top: 15px;
		@include mixin.font(#6a6a6a 700 '13px/19px');

		small {
			margin-left: 10px;
			@include mixin.font(var.$color_primary_base '/20px');

			.mco_link {
				margin-left: 1px;
				@include mixin.font('10px/18px');
			}
		}
	}

	.mm_foot {
		.mm_btnbox + .mm_btnbox {
			padding: 0 5px;
			@include mixin.font(#6a6a6a '13px');

			> a {
				position: relative;
				padding: 13px 0;

				&:nth-child(n+2) {
					margin: 0;
					padding-left: 1px;

					&::before {
						position: absolute;
						top: 50%;
						left: 0;
						margin-top: -4px;
						width: 1px;
						height: 9px;
						background-color: #e6e6e6;
						content: '';
					}
				}
			}
		}
	}

	&-sns {
		margin-top: 42px;
		@include mixin.font(#fff '0/44px' center);

		li {
			display: inline-block;
			padding: 0 8px 0 7px;

			&:last-child {
				display: none;
			}
		}

		.__app & {
			li:last-child {
				display: inline-block;
			}
		}
	}
}
//> 로그인

//< 비회원주문조회
.m_popup-sign-order {
	height: 99px;

	.m__order-inner {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 18px 29px 27px;
		border-top: 1px solid #e6e6e6;
	}

	.mco_cs {
		position: absolute;
		top: 50%;
		margin-top: -28px;
		padding: 15px 0 0 1px;
		width: 51px;
		height: 51px;
		border-radius: 100%;
		background-color: #f5f5f5;
		@include mixin.font(#6a6a6a '22px' center);
	}

	p {
		padding-left: 64px;
		@include mixin.font(#2b2b2b '12px/16px', nowrap);

		strong {
			display: block;
			@include mixin.font(#1b1b1e 500 '17px/20px' [var.$fontFamily_latin]);
		}
	}
}
//> 비회원주문조회

//< 아이디/비밀번호찾기
.m_popup-sign-find {
	padding: 0 34px;

	.mm_tabmenu {
		margin: 0 -34px;
		padding: 27px 40px 0;

		a {
			@include mixin.font('16px/42px');
		}
	}

	.mm_radio-list {
		margin: 37px 0 23px -7px;

		li {
			float: left;
			padding-left: 7px;
			width: 50%;
			height: 100px;

			&:nth-child(n+2) {
				margin-top: 0;
			}

			.mm_form-radio {
				padding: 0;
				width: 100%;
				height: 100%;

				:checked + .mm_block {
					border-color: var.$color_primary_base;

					> * {
						color: var.$color_primary_base;
					}
				}
			}

			.mm_block {
				padding-top: 22px;
				height: 100%;
				border: 2px solid #dcdcdc;
				border-radius: 3px;
				text-align: center;

				i {
					color: #b8b8b9;

					&.mco_email {
						padding: 7px 0;
						font-size: 17px;
					}

					&.mco_phone {
						padding: 0 0 8px;
						font-size: 23px;
					}
				}

				.text_label {
					display: block;
					@include mixin.font(#4a4a4a '14px');
				}
			}
		}

		+ .mm_note {
			margin: -11px 0 27px;
		}
	}

	.mm_popover {
		margin: 28px -34px 0;
	}

	.m__find- {
		&title {
			padding-top: 32px;

			.mm_title {
				padding: 0;

				strong {
					@include mixin.font(var.$color_text_base 500);
				}
			}

			p {
				padding-top: 13px;
				@include mixin.font('15px' center);
			}

			+ form,
			+ .mm_form-text {
				margin-top: 47px;
			}
		}

		&id {
			margin-top: 17px;

			li {
				position: relative;
				padding: 14px 16px;
				border: 1px solid #eee;

				&:nth-child(n+2) {
					margin-top: -1px;
				}

				i {
					position: absolute;
					width: 44px;
					height: 44px;

					&.ico_hago {
						border-radius: 100%;
						border: 1px solid var.$color_main_base;
						background-color: var.$color_main_base;
						@include mixin.font(#fff 500 '25px/42px' [var.$fontFamily_latin] center);

						&::after {
							content: 'H';
						}
					}

					$sns: (naver, #2fac58, 15px, 46px), (kakaotalk, #f1d200, 20px, 46px), (facebook, #3C6FC3, 23px, 46px);
					@each $type, $bgColor, $fontSize, $lineHeight in $sns {
						&.mco_sns-#{$type} {
							background-color: $bgColor;
							@include mixin.font('#{$fontSize}/#{$lineHeight}');
						}
					}
				}

				p {
					padding-left: 56px;
					min-height: 44px;
					@include mixin.font('13px/17px');

					&::before {
						display: block;
						padding: 4px 0 1px;
						@include mixin.font(#6a6a6a '12px');
						content: '아이디';
					}
				}
			}
		}

		&verify {
			margin-top: 28px;
			@include mixin.font('0' center);

			p {
				display: inline-block;
				margin-right: 8px;
				@include mixin.font(#6a6a6a '14px/23px');
			}
		}
	}
}
//> 아이디/비밀번호찾기

//< 성인인증
.m_popup-sign-adult {
	padding: 35px 34px 0;

	.mm_title {
		margin-bottom: 43px;
		padding: 0;

		.ico_adult {
			+ b {
				display: block;
				margin-top: 10px;
			}
		}
	}

	p {
		@include mixin.font('13px/19px');

		strong {
			color: #e91b1b;
		}

		+ p {
			margin-top: 8px;
		}
	}

	.mm_foot {
		margin-top: 48px;
	}
}
//> 성인인증

//< 회원가입
.m_popup-join {
	padding: 35px 34px 0;

	> .m_popup-sign-title {
		margin-top: -4px;
	}

	&-title {
		vertical-align: 0;
		@include mixin.font('17px/20px' center);

		b {
			margin-right: 9px;
			vertical-align: 1px;
			@include mixin.font(500 [var.$fontFamily_latin], 0);
		}

		.m__title-line {
			display: block;
			overflow: hidden;
			position: relative;
			margin: 12px auto 0;
			width: 169px;
			height: 4px;
			border-radius: 4px;
			@include mixin.linear-gradient(#eee, 90deg, #eee 40px, #fff 3px);
			@include mixin.background('/43px 4px' repeat-x);

			$steps: 1 2 3 4;
			@each $step in $steps {
				&.__line_step#{$step}__::after {
					position: absolute;
					top: 0;
					left: 0;
					width: 43px * $step;
					height: 100%;
					@include mixin.linear-gradient(#eee, 90deg, var.$color_primary_base 40px, #fff 3px);
					@include mixin.background('/43px 4px' repeat-x);
					content: '';
				}
			}
		}

		+ .m_popup-join-info {
			margin-top: 47px;
		}
	}

	.text_content {
		position: relative;
		margin-top: 90px;
		padding-left: 9px;
		@include mixin.font(var.$color_text_base '22px/28px');

		&:first-child {
			margin-top: 78px;
		}

		strong {
			display: block;
			@include mixin.font('27px/1');
		}

		span {
			display: block;
			padding-top: 22px;
			@include mixin.font(#4a4a4a 300);
		}

		.mco_smile {
			position: absolute;
			top: -34px;
			left: 10px;
			@include mixin.font(#f5f5f5 '60px/1');

			+ strong {
				padding-top: 38px;
			}
		}

		+ .mm_foot {
			margin-top: 48px;

			+ .mm_note {
				margin-top: 14px;
				padding-left: 13px;
			}
		}
	}

	&-info {
		.mm_process-item {
			> .mm_check-listbox {
				padding-top: 3px;
			}
		}

		.mm_form-text {
			+ .mm_btn {
				+ .mm_check-listbox {
					margin-top: 26px;
				}
			}
		}

		.mm_recommend {
			margin-top: 15px;

			+ .mm_check-listbox {
				margin-top: 26px;
			}
		}

		.mm_formmix-linked {
			+ .mm_strapline {
				margin-top: 23px;
			}
		}

		.mm_foot {
			margin-top: 50px;

			a.mm_btn:not([href]) {
				background-color: #e6e6e6;
				color: #a3a3a3;
			}
		}
	}

	&-overlap {
		padding-top: 32px;

		.m_popup-sign-title {
			margin: 0;

			> b {
				padding: 10px 0 0;
				line-height: 20px;
			}
		}
	}
}
//> 회원가입

//< 휴면회원 해제안내
.m_modal-login-quiescent {
	padding: 27px 0;
	@include mixin.font(#6a6a6a '13px/18px' center);

	h3 {
		padding-bottom: 12px;
		@include mixin.font(var.$color_text_base '17px/23px');
	}
}
//> 휴면회원 해제안내