@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';
@use '../helper/extend';


//< 장바구니
.m_cart {
	.text_purchase-price {
		padding: 23px 0 45px;
		@include mixin.font('14px' center);

		strong {
			@include mixin.font(var.$color-primary-base 700);
		}

		span {
			position: relative;
			margin-left: 40px;
			padding-left: 40px;
			color: #4a4a4a;

			&::after {
				position: absolute;
				top: 4px;
				left: 0;
				height: 13px;
				border-left: 1px solid #aeaeae;
				content: '';
			}
		}
	}

	&-tabmenu {
		overflow: hidden;
		margin-bottom: 60px;

		ul {
			border-bottom: 2px solid #000;

			li:nth-of-type(n+2) {
				margin-left: -1px;
			}
		}

		.btn_tab {
			position: relative;
			margin-top: 16px;
			padding: 15px 0 12px;
			border: 1px solid #ebebeb;
			border-width: 1px 1px 0 1px;
			@include mixin.font(#999 '17px/22px');

			b {
				vertical-align: 0;

				> span {
					display: inline-block;
					margin-left: 7px;
					width: 22px;
					height: 22px;
					border-radius: 100%;
					background-color: #999;
					vertical-align: 2px;
					@include mixin.font(#fff '15px/26px' [var.$fontFamily_latin]);

					.__ie11 & {
						line-height: 28px;
					}
				}
			}

			&.__tab-on {
				z-index: 1;
				margin-top: 0;
				padding-top: 24px;
				border-width: 2px 2px 0 2px;
				border-color: #000;
				@include mixin.font(var.$color_text_base 500 '20px/27px');

				&::after {
					position: absolute;
					right: 0;
					bottom: -2px;
					left: 0;
					border-bottom: 2px solid #fff;
					content: '';
				}

				b {
					position: static;

					span {
						width: 27px;
						height: 27px;
						background-color: var.$color_main_base;
						vertical-align: 3px;
						@include mixin.font('18px/30px');

						.__ie11 & {
							line-height: 32px;
						}
					}
				}
			}
		}
	}

	&-option {
		position: relative;
		margin-right: 64px;
		width: 110px;

		.mm_layer {
			top: 37px;
			right: 0;

			&.__selected-single {
				.m_prodetail-option-list {
					display: none;

					~ .mm_foot {
						margin-top: 30px;
					}
				}
			}
		}

		.btn_option-change {
			white-space: nowrap;

			&.__select-soldout {
				color: var.$color_secondary_base;;

				&::after {
					border-color: var.$color_secondary_base;
				}
			}

			.mco_dropdown-xs {
				margin: 1px 0 0 5px;
				font-size: 18px;

				.__ie11 & { margin-top: 2px; }
			}
		}

		&-select {
			position: relative;
			padding: 29px 23px 40px;

			h6 {
				padding: 0 0 13px 1px;
				@include mixin.font('14px/1.4');
			}

			.btn_size {
				position: absolute;
				z-index: 1;
				top: 21px;
				right: 22px;
			}

			.m_prodetail-option-list {
				&.__list_select__ {
					+ .m_prodetail-option-selected {
						h6 {
							display: inline-block;
							margin: 2px 34px 0 1px;
							padding-bottom: 0;
						}
					}

					~ .mm_foot {
						margin-top: 78px;
					}
				}
			}

			.m_prodetail-option-item {
				> .mm_dropdown {
					&.__option-select {
						+ .mm_dropdown {
							display: block;
						}
					}

					.mm_scroller {
						margin: 0;
						max-height: 203px;

						li {
							padding: 0;
						}
					}
				}

				+ .m_prodetail-option-item {
					margin-top: 23px;
				}
			}

			.m_prodetail-option-selected {
				margin-top: 32px;
				font-size: 0;

				.text_stock {
					display: inline-block;
					margin-left: 8px;
					@include mixin.font('13px/22px');
				}
			}
		}
	}

	&-total {
		margin-top: 50px;

		.mm_strapline {
			border-bottom: 0;
		}

		&-list {
			margin-top: 1px;
			height: 110px;
			border: 1px solid #e6e6e6;
			border-radius: 3px;
			font-size: 14px;

			dl.mm_flex {
				position: relative;
				min-width: 320px;

				&:nth-child(n+2) {
					border-left: 1px solid #e6e6e6;

					dt {
						padding-left: 57px;
					}
				}

				&:last-child {
					dd {
						margin-top: -6px;
						padding-right: 39px;

						.text_price span {
							font-size: 28px;
							vertical-align: -1px;

							&::after {
								font-size: 17px;
							}
						}
					}
				}

				> * {
					@include mixin.prefix(align-self, center, webkit ms);
				}

				dt {
					padding-left: 37px;
					color: #4a4a4a;

					> i {
						position: absolute;
						top: 50%;
						left: -18px;
						width: 37px;
						height: 37px;
						border: 1px solid #e6e6e6;
						border-radius: 100%;
						background-color: #fafafa;
						@include mixin.transform(translateY(-50%));

						&::before{
							position: absolute;
							top: 50%;
							left: 50%;
							width: 15px;
							border: 3px solid #5c5c5c;
							border-width: 3px 0 0;
							content: '';
							@include mixin.transform(translate(-50%, -50%));
						}

						&.ico_plus {
							&::before {
								border-width: 3px 0 0;
							}

							&::after {
								position: absolute;
								top: 50%;
								left: 50%;
								height: 15px;
								border-left: 3px solid #5c5c5c;
								content: '';
								@include mixin.transform(translate(-50%, -50%));
							}
						}

						&.ico_equal::before {
							height: 9px;
							border-bottom-width: 3px;
						}
					}
				}

				dd {
					@include mixin.prefix(flex, auto, webkit ms);
					padding-right: 58px;
					text-align: right;

					.text_price span {
						@include mixin.font(700 '20px' [var.$fontFamily_latin], 0);

						&::after {
							font-size: 14px;
						}
					}
				}
			}
		}

		+ .mm_foot {
			margin-top: 85px;
		}
	}

	&-tooltip {
		position: absolute;
		top: -51px;
		left: 50%;
		margin-left: 30px;
		font-size: 13px;
		@include mixin.transform(translateX(-50%));

		&.__tooltip-hide {
			display: none;
		}

		&::before {
			position: absolute;
			z-index: -1;
			bottom: -8px;
			right: 67px;
			@include mixin.triangle(#000, left, 8px, 13px);
			content: '';
		}

		&::after {
			position: absolute;
			bottom: -6px;
			right: 68px;
			@include mixin.triangle(#fff, left, 7px, 12px);
			content: '';
		}

		> p {
			padding: 9px 45px 9px 13px;
			border: 1px solid #101010;
			border-radius: 3px;
			background-color: #fff;

			strong {
				@include mixin.font(var.$color_secondary_base 700);
			}
		}

		.btn_close {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 0 14px;
			@include mixin.font(#999 '10px/35px');
		}
	}

	.mm_foot {
		position: relative;

		.btn_order {
			padding: 0 46px 0 32px;
			line-height: 52px;

			b {
				vertical-align: 0;

				&:nth-child(n+2) {
					position: relative;
					margin-left: 32px;
					padding-left: 46px;

					&::before {
						position: absolute;
						top: 20px;
						left: 0;
						height: 15px;
						border-left: 1px solid rgba(#fff, 0.4);
						content: '';
					}
				}

				strong {
					vertical-align: 0;
					@include mixin.font(500 '18px' [var.$fontFamily_latin], 0);
				}
			}

			.mco_link-sm {
				margin-left: 11px;
				font-size: 20px;

				.__ie11 & { margin-top: 1px; }
			}
		}
	}

	.mm_text-none {
		padding-bottom: 62px;
	}
}
//> 장바구니

//< 주문결제
.m_order {
	&-abroad {
		th {
			line-height: 21px;

			b {
				padding-top: 2px;
			}
		}

		td {
			> .mm_form-check {
				margin: 10px 0;
			}
		}

		.mm_note {
			margin-top: 7px;
		}

		.mm_check-list {
			margin-top: 13px;
			font-size: 0;

			.btn_detail {
				position: relative;
				padding: 0 12px;
				height: 20px;
				@include mixin.font(#8c8c8c '13px/18px');

				&::after {
					position: absolute;
					right: 12px;
					bottom: 2px;
					left: 12px;
					border-bottom: 1px solid #8c8c8c;
					content: '';
				}
			}
		}

		.btn_abroad {
			padding: 2px 8px;
			@include mixin.font(var.$color_primary_base '13px');

			.mco_link {
				margin: 1px 0 -1px 6px;
				font-size: 9px;
			}
		}

		.btn_modify {
			display: block;
			margin-top: 8px;

			.mco_link-sm {
				margin: 1px 0 0 8px;

				.__ie11 & { margin-top: 2px; }
			}

			+ .mm_check-list {
				margin-top: 18px;
			}
		}
	}

	&-member {
		tr.m_order-member-email:first-child {
			border-bottom: 20px solid transparent;

			+ tr {
				border-top: 0;
			}
		}

		tr.mm_address-list {
			th {
				.text_amount {
					display: block;
					color: #999;
				}
			}

			.mm_slider {
				&-inner {
					padding: 0 27px;

					&[style*="center"] {
						margin-left: -30px;
						text-align: left !important;
					}
				}

				&-item {
					padding: 0 3px;
					width: 330px;

					.mm_address-item {
						padding: 22px 90px 0 18px;
						height: 180px;

						.mco_form-choice {
							right: 18px;
						}

						dl {
							dt {
								margin-right: -50px;
							}

							dd:first-of-type {
								margin-top: 27px;
							}
						}
					}

					.btn_remove {
						padding: 10px 19px 25px 10px;
					}
				}

				.btn_address-add {
					padding-top: 48px;
					width: 100%;
					height: 180px;
					border: 1px dashed #cdcdcd;
					border-radius: 3px;
					@include mixin.font(#4a4a4a '14px/1' center);

					.ico_address-add {
						position: relative;
						width: 54px;
						height: 54px;
						border-radius: 100%;
						background-color: #f5f5f5;

						&::before {
							position: absolute;
							top: 13px;
							bottom: 13px;
							right: 50%;
							border-left: 1px solid #c0c0c1;
							content: '';
						}

						&::after {
							position: absolute;
							right: 13px;
							bottom: 50%;
							left: 13px;
							border-top: 1px solid #c0c0c1;
							content: '';
						}
					}

					> b {
						display: block;
						margin-top: 13px;
					}
				}

				&-control {
					button {
						top: 0;
						width: 30px;
						height: 180px;
						background-color: rgba(#000, 0.13);
						@include mixin.font(#fff '14px/180px');
					}

					.btn_slider-prev {
						left: 0;
					}

					.btn_slider-next {
						right: 0;
					}
				}
			}
		}

		tr.m_order-member-memo {
			border-top-width: 34px;

			th b {
				padding-top: 0;
			}
		}

		tr.m_order-abroad {
			border-top-width: 34px;
		}

		+ section {
			margin-top: 94px;
		}
	}

	&-address {
		> .mm_form-check {
			margin: 24px 0 0 2px;
		}

		table {
			tr.m_order-address-memo {
				border-top-width: 34px;

				th b {
					padding-top: 0;
				}
			}

			tr.m_order-abroad {
				border-top-width: 34px;
			}
		}

		+ section {
			margin-top: 84px;

			.mm_strapline {
				border-bottom: 0;
			}
		}
	}

	.mm_order-item-seller {
		.text_price {
			> .text_discount {
				display: block;
				margin-bottom: 3px;
				@include mixin.font(var.$color_secondary_base 400 '12px' [var.$fontFamily_base], -0.25px);

				&::after {
					display: none;
				}
			}
		}
	}

	&-payment {
		margin-top: 94px;
		@include mixin.clearfix();

		> .mm_lside {
			width: 978px;
		}

		> .mm_rside {
			width: 324px;

			.mm_strapline {
				border-bottom: 0;
			}

			.mm_note[class*="_bg_"] {
				padding: 14px 14px 16px;
				border: 1px solid #feb97d;
				background-color: #fffdf9;
				@include mixin.font(var.$color_secondary_base '14px');
			}
		}

		.text_point {
			margin-top: 10px;
			@include mixin.font('14px/13px');

			> * {
				@include mixin.font([var.$fontFamily_latin], 0);
			}

			.text_price {
				vertical-align: 0;

				strong {
					margin-left: 10px;
					vertical-align: 0;
					font-weight: 500;

					&::after {
						vertical-align: 0;
						font-size: 13px;

						.__ie11 & { margin-left: 1px; }
					}
				}
			}
		}

		&-payway {
			&:not(.mm_lside) {
				margin-top: 94px;
			}

			.m__payway-list {
				padding: 24px 24px 0;

				ul {
					margin: 0 -3px;

					li {
						float: left;
						margin: 0 3px;
					}
				}

				.mm_form-radio {
					display: block;
					padding-left: 0;

					.mm_block {
						padding: 20px 0 27px;
						width: 111px;
						text-align: center;

						&::before {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							border: 1px solid #e6e6e6;
							border-radius: 3px;
							content: '';
						}

						.text_label {
							padding-top: 2px;
							color: #a3a3a3;
						}

						.m__payway-toss-event {
							position: absolute;
							top: -33px;
							right: -4px;
							width: 60px;
							height: 61px;
							@include mixin.background(url('https://image.hago.kr/mall/ui/pc/content/order_icon_event.png') '0 0/cover' no-repeat);
						}

						.text_badge {
							position: absolute;
							bottom: 9px;
							left: 50%;
							padding: 4px 6px 1px;
							border-radius: 20px;
							background: var.$color_secondary_base;
							@include mixin.font(#fff '12px', nowrap);
							@include mixin.transform(translateX(-50%));
						}
					}

					:checked {
						+ .mm_block {
							&::before {
								border-color: var.$color_primary_base;
							}

							[class*="ico_payment"]::before {
								background-position-x: 100%;
							}

							.text_label {
								color: var.$color_primary_base;
							}
						}
					}

					$payways: (naver, #00c73c), (kakao, #ffcd00, #47292b), (payco, #fa1414), (toss, #0050ff);
					@each $pay, $color, $fontColor in $payways {
						&.m__payway-#{$pay} {
							:checked + .mm_block {
								&::before {
									border-color: $color;
								}

								.text_label {
									color: if($fontColor, $fontColor, $color);
								}
							}
						}
					}
				}

				~ * {
					margin-top: 34px;
				}
			}

			.btn_card-guide {
				padding: 9px 2px;
				font-size: 13px;

				.mco_link {
					margin: 3px 0 0 10px;
					font-size: 10px;
				}
			}

			.text_period {
				margin: 7px 0 0 18px;
				padding: 0 20px 0 18px;
				height: 32px;
				border: 1px solid #5c5c5c;
				border-radius: 16px;
				@include mixin.font(#5c5c5c '14px/28px');

				strong {
					position: relative;
					margin-left: 15px;
					padding-left: 14px;
					color: var.$color_secondary_base;

					&::before {
						position: absolute;
						top: 6px;
						left: 0;
						height: 10px;
						border-left: 1px solid #999;
						content: '';
					}
				}
			}

			.mm_order-form {
				+ .mm_order-form {
					position: relative;
					margin-top: 24px;
					padding-top: 24px;

					&::before {
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 1px;
						@include mixin.linear-gradient(#e6e6e6, 90deg, #e6e6e6 5px, #fff 4px);
						@include mixin.background('/9px 1px' repeat-x);
						content: '';
					}

					table {
						margin-top: 0;
					}
				}
			}

			.mm_order-form.m__payway-receipt {
				margin-top: 34px;

				ul {
					margin: 0 -3px;

					li {
						float: left;
						margin: 0 3px;
					}
				}

				.mm_form-radio {
					display: block;
					padding-left: 0;

					.mm_block {
						width: 89px;
						text-align: center;

						&::before {
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							border: 1px solid #e6e6e6;
							border-radius: 3px;
							content: '';
						}

						.text_label {
							height: auto;
							@include mixin.font(#4a4a4a '/46px');
						}
					}

					:checked + .mm_block {
						&::before {
							border-color: var.$color_primary_base;
						}

						.text_label {
							color: var.$color_primary_base;
						}
					}
				}

				.mm_form-text {
					margin-top: 10px;
				}
			}

			.m__payway-refund {
				&.mm_order-form {
					padding-top: 18px;
				}

				table {
					line-height: 29px;

					.mm_btn {
						margin: 2px 0 0 9px;

						i {
							margin-left: 4px;
						}
					}

					.mm_note {
						margin-top: 12px;
						padding: 0;
						border: 0;
					}
				}
			}

			.mm_note {
				padding: 20px 23px;
				border-top: 1px solid #eee;
			}
		}

		&-agree {
			margin-top: 27px;

			.mm_dropdown:not(.mm_note) {
				border: 1px solid #e6e6e6;
				border-radius: 3px;

				&.__dropdown-on .btn_dropdown {
					padding-bottom: 11px;

					> i {
						color: #a3a3a3;
					}
				}

				.btn_dropdown {
					padding: 16px 15px;
					@include mixin.font('/1.4' left);

					i {
						right: 15px;
						@include mixin.font(#a3a3a3 '13px');

						&::before {
							margin-top: 3px;
						}
					}
				}

				.mm_dropdown-item-inner {
					padding: 0 15px 19px;

					li {
						position: relative;

						&:nth-child(n+2) {
							margin-top: 10px;
						}

						&.__switch-on {
							table {
								display: table;
							}
						}

						> b {
							padding-left: 16px;

							&::before {
								position: absolute;
								top: 4px;
								left: 2px;
								width: 6px;
								height: 6px;
								border: 1px solid #a3a3a3;
								border-width: 0 0 1px 1px;
								content: '';
							}
						}
					}

					.btn_detail {
						position: absolute;
						right: -15px;
						padding: 0 15px 10px;
						@include mixin.font(#8c8c8c '13px/14px');

						b {
							display: inline;
							position: relative;

							&::before {
								position: absolute;
								right: 0;
								bottom: 0;
								left: 0;
								border-bottom: 1px solid #8c8c8c;
								content: '';
							}
						}
					}

					table {
						display: none;
						position: relative;
						margin-top: 11px;
						width: 292px;
						border: 1px solid #e6e6e6;
						border-width: 1px 0 0 1px;

						tr {
							> * {
								padding: 8px 8px 10px;
								border: 1px solid #eee;
								border-width: 0 1px 1px 0;
							}

							&:last-child {
								> * {
									border-bottom-color: #e6e6e6;
								}
							}

							th {
								width: 106px;
								background-color: #f5f5f5;
								@include mixin.font(#5c5c5c '13px/18px' left);
							}

							td {
								border-right-color: #e6e6e6;
								@include mixin.font(#4a4a4a '13px/16px' left);
							}
						}
					}
				}
			}

			> p {
				margin: 9px 0 0 2px;
				@include mixin.font('14px/1.4');
			}

			+ .mm_foot {
				margin-top: 34px;
			}

			~ .mm_note {
				margin-top: 34px;
			}
		}
	}

	&-fin {
		text-align: center;

		.mm_title {
			padding: 118px 0 19px;
			font-size: 26px;

			+ p {
				font-size: 15px;
			}
		}

		&-deposit {
			display: inline-block;
			margin-top: 40px;
			padding: 25px 0 23px 0;
			width: 687px;
			border: 1px solid #f5f5f5;
			border-radius: 3px;
			background-color: #fafafa;

			.m__deposit-inner {
				display: inline-block;
			}

			p {
				@include mixin.font(#7b7b7b '14px/25px' left);

				span {
					margin-left: 12px;
					color: var.$color_text_base;
				}
			}

			+ .mm_btnbox {
				margin-top: 40px;
			}
		}

		~ .mm_order-item {
			margin-top: 94px;
		}

		~ .mm_order-info {
			margin-top: 80px;
		}

		~ .m_order-payment {
			margin-top: 86px;
		}

		.mm_btnbox {
			margin-top: 39px;
		}
	}

	.mm_text-none {
		padding: 118px 0 62px;
	}
}
//> 주문결제

//< 쿠폰 적용
.m_modal-order-coupon {
	html[class*="_modal_"] & {
		width: var.$width_modal_lg;
	}

	.btn_apply {
		width: 237px;
	}
}
//> 쿠폰 적용