@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';


//< 탭인덱스
[tabindex],
a[onclick] {
	cursor: pointer;
}
//> 탭인덱스

//< 기본형
.mm_btn {
	position: relative;
	padding: 0 15px;
	width: auto;
	height: 42px;
	border-radius: 42px;
	background-color: #eee;
	@include mixin.font(#4a4a4a '15px/42px' center);

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid transparent;
		border-radius: 42px;
		content: '';
	}

	&[class*="_square_"] {
		border-radius: 2px;

		&::after {
			border-radius: 2px;
		}
	}

	$sizes: (sm, 30px, 13px), (xs, 25px, 12px), (2xs, 20px, 12px), (lg, 50px, 17px);
	@each $type, $height, $fontSize in $sizes {
		&[class*="_#{inspect($type)}_"] {
			height: $height;
			border-radius: $height;
			@include mixin.font('#{$fontSize}/#{if($type == 2xs, 19px, $height)}');

			&::after {
				border-radius: $height;
			}
		}
	}

	$colors: (dark, #5c5c5c, #fff, null),
			 (primary, var.$color_primary_base, #fff, null),
			 (secondary, var.$color_secondary_base, #fff, null);
	@each $type, $bgColor, $fontColor, $borderColor in $colors {
		&[class*="_#{inspect($type)}_"] {
			@if $bgColor {
				background-color: $bgColor;
				color: $fontColor;

				&::after {
					border-color: $borderColor;
				}
			}
		}
	}

	&[class*="_line_"] {
		background-color: #fff;
		color: #5c5c5c;

		&::after {
			border-color: #6a6a6a;
		}

		$lines: (light, null, #7b7b7b, #7b7b7b), (lighter, null, #8c8c8c, #a3a3a3), (lightest, null, #999, #aeaeae),
				(dark, null, #2b2b2b, #2b2b2b),
				(primary, null, var.$color_primary_base, var.$color_primary_base),
				(secondary, null, var.$color_secondary_base, var.$color_secondary_base),
				(transparent, transparent, null, null);
		@each $type, $bgColor, $fontColor, $borderColor in $lines {
			&[class*="_#{inspect($type)}_"] {
				@if $borderColor {
					background-color: $bgColor;
					color: $fontColor;

					&::after {
						border-color: $borderColor;
					}
				}
			}
		}
	}

	&[class*="_disabled_"],
	&:disabled {
		background-color: #e6e6e6;
		color: #a3a3a3;
	}

	+ .mm_note {
		margin-top: 8px;
	}

	+ .mm_strapline {
		margin-top: 23px;
	}
}
//> 기본형

//< 최하단버튼
.mm_foot {
	margin-top: 28px;
}
//> 최하단버튼

//< 버튼그룹
.mm_btnbox {
	@include mixin.clearfix();
	text-align: center;

	> .mm_btn {
		width: 100%;

		&:nth-child(n+2) {
			margin-top: 8px;
		}
	}

	.mm_inline {
		@include mixin.font('0', nowrap);

		> * {
			&:nth-child(n+2) {
				margin-left: 5px;
			}
		}
	}

	&.mm_flex {
		> * {
			&:nth-child(n+2) {
				margin: 0 0 0 7px;
			}
		}
	}

	&.__btnbox_fixed__ {
		position: fixed;
		z-index: const.$zIndex_floating;
		bottom: 0;
		left: 0;
		width: 100%;

		> * {
			width: 100%;
			height: 60px;
			background-color: var.$color_primary_base;
			@include mixin.transform(translate3d(0, 0, 0));
			@include mixin.font(#fff '20px/54px' center);

			.__focus & {
				position: absolute;
				bottom: 0;
			}

			.__toolbar-hide & {
				bottom: 0;
			}
		}

		.btn_order {
			b {
				vertical-align: 0;
				font-size: 17px;

				strong {
					vertical-align: -1px;
					@include mixin.font(500 '20px' [var.$fontFamily_latin], 0);
				}

				&.text_total::after {
					position: absolute;
					top: 21px;
					right: 0;
					width: 1px;
					height: 13px;
					background-color: #fff;
					@include mixin.opacity(0.4);
					content: '';
				}
			}
		}

		.btn_product- {
			&like {
				position: relative;
				padding: 0 1px 0 0;
				width: 61px;
				@include mixin.font('21px/56px');


				&::after {
					position: absolute;
					top: 0;
					right: 0;
					width: 1px;
					height: 100%;
					background-color: rgba(#fff, 0.4);
					content: '';
				}
			}

			&buy,
			&raffle {
				margin: 0;
				@include mixin.prefix(flex, 1, webkit ms);

				&:disabled {
					background-color: #e6e6e6;
					color: #a3a3a3;
					@include mixin.prefix(pointer-events, none, ms);
				}
			}
		}

		.btn_filter-reset {
			width: 61px;
			padding-right: 1px;
			@include mixin.font('24px/58px');

			&::after {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				border-left: 1px solid var.$color_primary_base;
				content: '';
			}

			+ button {
				margin: 0;
				@include mixin.prefix(flex, 1, webkit ms);
			}
		}

		.btn_hago {
			background-color: var.$color_main_base;
		}
	}
}
//> 버튼그룹

//< 버튼종류
.btn_more {
	&[class*="_xs_"] {
		.mco_link,
		.mco_more {
			line-height: 25px;
		}
	}

	.mco_link,
	.mco_more {
		margin-left: 8px;
		@include mixin.font('10px/31px');
	}
}

.btn_refresh {
	.mco_reload {
		margin-right: 4px;
		line-height: 24px;
	}
}

.btn_update {
	padding: 0 9px;
}

.btn_link {
	.mco_link {
		margin-left: 8px;
		@include mixin.font('12px/44px');
	}
}
//> 버튼종류