@charset 'utf-8';

@use 'sass:math';
@use '../setting/const';
@use '../setting/var';
@use '../helper/mixin';


//< 리스트
.mm_list {
	li {
		&:nth-child(n+2) {
			margin-top: 8px;
		}

		a {
			display: block;
			@include mixin.text-ellipsis(1);
			padding: 0 10px 0 2px;
			@include mixin.font(#2b2b2b '14px');

			> b:not(.text_status) {
				display: inline;
			}
		}
	}

	.text_status {
		margin-right: 8px;
		padding-bottom: 1px;
		width: 50px;
		border: 1px solid var.$color_primary_base;
		border-radius: 10px;
		@include mixin.font(var.$color_primary_base '13px' center);

		&.__status_off__ {
			border-color: #aeaeae;
			color: #999;
		}
	}
}
//> 리스트

//< 상품리스트
.mm_product-list {
	&-head {
		@include mixin.flex-container();
		padding: 15px 1px;
		height: 57px;
		@include mixin.font(#4a4a4a '13px/26px');

		.text_total {
			@include mixin.prefix(flex, 1, webkit ms);
		}

		.mm_form-select {
			min-width: 120px;
			width: auto;

			label {
				height: 27px;
				border: 0;

				.text_selected {
					padding-right: 31px;
					@include mixin.font(#4a4a4a '13px/26px' right);
				}

				.mco_form-select-sm {
					top: 4px;
					right: 15px;
					@include mixin.font(#4a4a4a '19px');
				}
			}
		}

		[class*="btn_"] {
			padding: 0 14px;
			height: 27px;
			border: 1px solid #cdcdcd;
			border-radius: 27px;
			@include mixin.font('/25px', nowrap);

			+ [class*="btn_"] {
				margin-left: 3px;
			}
		}

		.btn_array {
			[class*="mco_array"] {
				@include mixin.font(#8c8c8c '11px');
			}
		}

		.btn_filter {
			.mco_filter {
				margin: 0 5px 0 -1px;
				color: #7b7b7b;
			}

			&.__filter-on {
				color: var.$color_primary_base;
				border-color: var.$color_primary_base;

				.mco_filter {
					color: var.$color_primary_base;
				}
			}
		}
	}

	:not([class*="mm_order-item"]) > &:not(.__list_card__) {
		> ul,
		> ol {
			> li:nth-child(n+2) {
				margin-top: 8px;
			}
		}
	}

	:not(.__scroller_x__) > & {
		&.__list_card__ {
			> ul,
			> ol {
				display: grid;
				grid-row-gap: 25px;
				grid-template-columns: repeat(2, 50%);
				margin-left: -13px;

				&::after {
					content: none;
				}

				> li {
					padding-left: 13px;
				}
			}
		}
	}

	.__scroller_x__ > & {
		&.__list_card__ {
			> ul {
				display: inline-block;
				padding: 0 14px 4px;
				@include mixin.font('0', nowrap);

				> li {
					display: inline-block;
					width: 152px;
					white-space: normal;

					&:nth-child(n+2) {
						margin-left: 4px;
					}
				}
			}

			.mm_product-item {
				.text_soldout,
				.image_product {
					// padding: 0;
					// width: 152px;
					// height: 182px;
				}
			}
		}
	}

	:not([class*="mm_order-item"]) > &.__list_sm__ {
		> ul {
			border: 1px solid #eee;
			border-width: 1px 0;

			> li {
				padding: 16px 14px;

				&:nth-child(n+2) {
					margin-top: 0;
					border-top: 1px solid #eee;
				}
			}
		}
	}

	&.__list_xs__ {
		> ul {
			> li {
				&:nth-child(n+2) {
					margin-top: 0 !important;
					border-top: 1px solid #e6e6e6;
				}

				.mm_product-item {
					padding: 13px;

					figure {
						position: relative;
					}
				}
			}
		}
	}

	&[class*="_skeleton_"] {
		$color_skeleton: #f5f5f5;

		.image_product {
			background-color: $color_skeleton;
		}

		.mm_product-item-info {
			p {
				height: 13px;
				background-color: $color_skeleton;
				font-size: 0;

				&.text_brand {
					width: 77%;
				}

				&.text_product {
					position: relative;
					margin-top: 10px;
					height: 32px;
					background-color: transparent;

					&::before,
					&::after {
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 13px;
						background-color: $color_skeleton;
						content: '';
					}

					&::after {
						top: 19px;
					}
				}

				&.text_price {
					margin-top: 12px;
					width: 53%;
					height: 16px;
				}
			}
		}

		&:not(.__list_card__) {
			.mm_product-item-info {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				margin-left: 54.17867%;
				padding: 10px 0 0 12px;
			}
		}

		&.__list_card__ {
			.mm_product-item-info {
				padding: 15px 15px 0 0;
			}
		}

		.__item_single__ {
			.mm_product-item-info {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				margin-left: 54.17867%;
				padding: 10px 0 0 12px;
			}
		}
	}
}
//> 상품리스트

//< 상품아이템
.mm_product-item {
	position: relative;

	> a {
		display: block;
	}

	.text_funding {
		overflow: hidden;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 58px;
		height: 52px;

		&::before {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 115px;
			height: 117px;
			border-radius: 100%;
			background-color: #fff;
			content: '';
		}

		b {
			position: relative;
			z-index: 1;
			padding: 6px 0 0 1px;
			@include mixin.font(#4a4a4a '10px/12px');
		}
	}

	.text_adult {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		background-color: #eee;

		.ico_adult {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70px;
			height: 70px;
			@include mixin.transform(translate(-50%, -50%));

			&::before {
				@include mixin.font('41px/62px');
			}
		}
	}

	figcaption {
		position: relative;

		.text_brand {
			@include mixin.text-ellipsis(1);
			margin-top: 8px;
			@include mixin.font(#8c8c8c '13px');
		}

		.text_product {
			@include mixin.text-ellipsis(2);
			margin-top: 5px;
			height: 39px;
			@include mixin.font(#4a4a4a '14px/19px');
		}

		.text_sale {
			position: absolute;
			right: 6px;
			margin-top: 3px;
			@include mixin.font(var.$color_secondary_base 300 '17px/23px' [var.$fontFamily_latin], 0);
		}

		.text_price {
			margin-top: 3px;

			strong {
				@include mixin.font(700 '17px/23px' [var.$fontFamily_latin], 0);

				&::after {
					@include mixin.font(400 '10px' [var.$fontFamily_base]);
				}
			}

			del {
				display: block;
				padding: 0 0 5px 1px;
				vertical-align: 0;
				@include mixin.font(#8c8c8c 400 '12px' none);

				span {
					position: relative;
					display: inline-block;
					margin-top: 1px;

					&::after {
						position: absolute;
						top: 50%;
						right: -11px;
						left: -1px;
						margin-top: -1px;
						border-bottom: 1px solid #8c8c8c;
						content: '';
					}
				}

				&::after {
					vertical-align: 0;
				}
			}
		}

		.mm_product-item-react {
			margin-top: 8px;
			font-size: 0;

			> * {
				display: inline-block;

				span {
					vertical-align: 0;
					@include mixin.font(#6a6a6a 500 '10px' [var.$fontFamily_latin], 0);
				}
			}

			.mm_stars {
				margin-right: 7px;

				[class*="mco_stars"] {
					margin-left: -2px;
					vertical-align: 0;
					@include mixin.font(#f2953a '10px');
					@include mixin.transform(scale(0.9));
				}
			}

			.text_like {
				.mco_like-full {
					display: inline-block;
					margin-right: 1px;
					vertical-align: 0;
					@include mixin.font(#aeaeae '10px');
					@include mixin.transform(scale(0.7));

					&::before {
						margin-top: 1px;
					}
				}
			}
		}

		.mm_tag-list {
			margin-top: 13px;
		}

		&.mm_ir-blind {
			margin: 0 !important;
			padding: 0 !important;
		}
	}

	.mm_product-list:not(.__list_card__) > ul &,
	.mm_product-list:not(.__list_card__) > ol &,
	&[class*="_single_"] {
		.mm_like {
			top: auto;
			bottom: 0;
			left: 54.17867%;
			@include mixin.transform(translate(-100%, 0));
		}

		.text_soldout {
			width: 54.17867%;
			height: 100%;

			&-nearly {
				bottom: 0;
			}
		}

		.text_adult {
			width: 54.17867%;
			height: 100%;
		}

		.image_product {
			position: relative;
			width: 54.17867%;

			&::after {
				padding-top: 133.15217%;
				content: '';
			}
		}

		figcaption {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			margin-left: 54.17867%;
			padding: 7px 15px 0 12px;

			> *:first-child {
				margin-top: 0;
				padding-top: 0;
			}
		}
	}

	.mm_product-list.__list_card__ &:not(.__item_single__) {
		.mm_like {
			right: 0;
			margin-top: 133.15217%;
		}

		.text_soldout,
		.text_adult {
			right: 0;
			padding-top: 133.15217%;
		}

		.image_product {
			display: block;
			position: relative;
			padding-top: 133.15217%;
		}

		figcaption {
			margin-top: 12px;
			padding: 0 10px 0 4px;
		}
	}

	.mm_product-list.__list_sm__:not(.__list_card__) &,
	&[class*="_single_sm_"] {
		> .mm_form-check {
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		.image_product {
			position: absolute;
			padding: 0;
			width: 75px;
			height: 100px;
		}

		.text_soldout {
			position: absolute;
			top: 0;
			left: 0;
			width: 75px;
			height: 100px;
			background-color: rgba(#000, 0.27);
			@include mixin.font(#fff '15px/100px' center);

			+ figcaption::after {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba(#fff, 0.8);
				content: '';
			}
		}

		.text_adult {
			width: 75px;
			height: 100px;
		}

		.text_soldout-nearly {
			top: 100px;

			.mco_clock {
				display: none;
			}
		}

		figcaption {
			position: relative;
			margin-left: 75px;
			padding-top: 0;
			min-height: 100px;

			.text_product {
				height: auto;

				+ .text_option {
					margin-top: 9px;
				}
			}

			.text_sale,
			.text_price {
				margin-top: 6px;
			}

			.text_option {
				margin-top: 6px;
				@include mixin.font(#4a4a4a '13px/17px');

				span {
					display: block;
					margin-top: 1px;
				}
			}
		}
	}

	.mm_product-list.__list_xs__:not(.__list_card__) &,
	&[class*="_single_xs_"] {
		.image_product {
			position: absolute;
			padding: 0;
			width: 37px;
			height: 44px;
		}

		figcaption {
			position: relative;
			margin-left: 37px;
			padding-top: 0;
			min-height: 44px;

			.text_product {
				height: auto;
				@include mixin.font(#4a4a4a '13px/18px');
			}

			.text_option {
				margin-top: 1px;
				@include mixin.font(#4a4a4a '12px/17px');
			}
		}
	}

	.mm_like {
		position: absolute;
		z-index: 1;
		top: 0;
		@include mixin.transform(translateY(-100%));
	}

	.text_soldout-nearly {
		position: absolute;
		left: 0;
		margin-top: -20px;
		padding: 3px 4px;
		height: 20px;
		border: 1px solid var.$color_secondary_base;
		background-color: #fff;
		vertical-align: 0;
		@include mixin.font(var.$color_secondary_base '12px');

		.mco_clock {
			margin-right: 3px;
			vertical-align: -1px;
			font-size: 11px;
		}
	}

	.mm_product-list:not(.__list_sm__) > ul &,
	.mm_product-list:not(.__list_sm__) > ol &,
	&[class*="_single_"] {
		.text_soldout {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgba(#000, 0.27);

			b {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -30px 0 0 -50px;
				width: 100px;
				height: 60px;
				border: 2px solid #fff;
				@include mixin.font(#fff 500 '12px' center);

				strong {
					display: block;
					@include mixin.font('17px/56px' [var.$fontFamily_latin], 0);
				}
			}
		}
	}
}
//> 상품아이템

//< 주문아이템
.mm_order-item {
	position: relative;

	&:nth-child(n+2) {
		border-top: 1px solid #eee;
	}

	> h5 {
		margin: 0 14px;
		padding: 23px 84px 14px 1px;
		@include mixin.font('13px/18px');

		strong {
			display: block;
			color: #7b7b7b;
		}
	}

	> .btn_detail {
		position: absolute;
		top: 23px;
		right: 0;
		padding: 10px 19px;
		@include mixin.font('13px/16px');

		.mco_link {
			margin-left: 8px;
			@include mixin.font('11px/17px');
		}
	}

	> .mm_form-check {
		margin: 0 14px;
		padding: 22px 0 15px;

		input[type="checkbox"]:checked {
			+ .mm_block {
				.text_label {
					color: var.$color_primary_base;
				}
			}
		}
	}

	> .btn_delete {
		position: absolute;
		top: 16px;
		right: 0;
		padding: 10px 19px;
		@include mixin.font(#6a6a6a '13px/16px');

		.mco_delete {
			margin-right: 5px;
			font-size: 15px;
		}
	}

	.mm_product-list {
		border: 1px solid #cdcdcd;
		border-radius: 3px;

		&:nth-of-type(n+2) {
			margin-top: 27px;
		}

		> ul {
			> li {
				padding: 20px 13px;

				&:nth-child(n+2) {
					border-top: 1px solid #eee;
				}

				> .mm_form-check {
					z-index: 1;
					margin: -5px 0 10px;

					&::before {
						position: absolute;
						top: 33px;
						width: 75px;
						height: 100px;
						content: '';
					}
				}
			}
		}

		.mm_product-item {
			figcaption {
				.text_status {
					@include mixin.font(var.$color_primary_base '14px');

					.text_refund {
						margin: -1px 0 -2px 5px;
						padding: 0 3px;
						height: 17px;
						background-color: #f5f5f5;
						border: 1px solid #2b2b2b;
						border-radius: 2px;
						@include mixin.font(#2b2b2b '10px/14px');
					}
				}
			}

			&-footer {
				margin-top: 18px;
				@include mixin.font(#4a4a4a '13px/14px');

				.mm__footer-claim {
					margin-top: 20px;
					padding: 13px;
					border: 1px solid #f5f5f5;
					border-radius: 3px;
					background-color: #fafafa;

					li {
						&:nth-child(n+2) {
							margin-top: 3px;
						}

						> * {
							display: inline-block;
						}

						.mm_tag {
							overflow: hidden;
							padding: 0 9px;
							width: 85px;

							span {
								display: inline-block;
								width: 22px;
								text-align: right;
							}
						}

						> p {
							margin-left: 9px;
							line-height: 24px;
						}
					}
				}

				.text_changed {
					margin-top: 20px;
					padding: 12px 12px 13px;
					border: 1px solid #f5f5f5;
					border-radius: 3px;
					background-color: #fafafa;
					@include mixin.font(var.$color_text_base '/17px');

					span {
						display: block;
						padding-top: 5px;
					}

					+ .mm_btnbox {
						margin-top: 20px;
					}
				}

				.mm__footer-indent {
					margin-left: 75px;
					padding-left: 12px;
					font-size: 0;

					> * {
						display: inline-block;
						margin-right: 9px;
						vertical-align: middle;
					}

					a.mm_btn:not([href]) {
						background-color: #e6e6e6;
						color: #a3a3a3;
					}

					> p {
						@include mixin.font(#4a4a4a '13px');

						span {
							color: #8c8c8c;
						}
					}

					.mm_tag + p {
						margin-right: 0;
					}

					+ .mm__footer-indent {
						margin-top: 19px;
					}

					+ .mm_btnbox {
						margin-top: 19px;
					}
				}

				> .mm_btnbox {
					@include mixin.prefix(flex-wrap, wrap, webkit ms);

					.mm_btn {
						width: auto;
						min-width: 40%;

						&:nth-child(3n) {
							margin-left: 0;
						}

						&:nth-child(n+3) {
							margin-top: 8px;
						}
					}

					+ .mm_note {
						margin-top: 4px;
					}
				}

				> .mm_note {
					margin: 0 0 -3px 2px;
				}
			}
		}
	}

	&-seller {
		position: relative;
		margin: 0 14px;

		h5 {
			@include mixin.text-ellipsis(1);
			padding: 0 99px 0 13px;
			height: 41px;
			background-color: #fafafa;
			border: 1px solid #cdcdcd;
			border-bottom: 0;
			border-radius: 3px 3px 0 0;
			@include mixin.font(var.$color_text_base '13px/39px');

			i {
				margin-right: 6px;
				@include mixin.font(#a3a3a3 '15px/40px');
			}

			+ .text_ship {
				position: absolute;
				top: 0;
				right: 0;
				padding: 0 17px;
				@include mixin.font(var.$color_text_base '13px/39px');

				i {
					margin-right: 6px;
					@include mixin.font(#a3a3a3 '11px/41px');
				}

				.text_price {
					strong {
						font-weight: 400;

						&::after {
							vertical-align: 0;
						}
					}
				}
			}

			~ .mm_product-list {
				border-top: 0;
				border-radius: 0 0 3px 3px;
			}
		}

		> .mm_btnbox {
			a {
				position: relative;
				padding: 21px 0 26px;
				width: 100%;
				@include mixin.font('14px/1' center);

				&:nth-child(n+2)::before {
					position: absolute;
					top: 50%;
					left: 0;
					margin-top: -1px;
					width: 1px;
					height: 10px;
					background-color: #cdcdcd;
					content: '';
					@include mixin.transform(translateY(-50%));
				}

				&:not([href]) {
					color: #b8b8b9;
				}
			}
		}

		+ .mm_order-item-seller {
			margin-top: 22px;
		}
	}

	+ * {
		&.mm_order-item {
			margin-top: 22px;
		}

		&.mm_note,
		.mm_note {
			margin-top: 8px;
		}
	}
}
//> 주문아이템

//< 태그리스트
.mm_tag-list {
	font-size: 0;

	.mm_tag:nth-child(n+2) {
		margin-left: 4px;

		&[class*="_square_"] {
			margin-left: 1px;
		}
	}
}
//> 태그리스트

//< 이벤트리스트
.mm_promo-list {
	display: grid;
	grid-row-gap: 25px;
	grid-template-columns: repeat(2, 50%);
	margin-left: -7px;

	&::after {
		content: none;
	}

	li {
		padding-left: 7px;

		> a {
			display: block;
		}

		.image_banner {
			padding-top: 100%;
			width: 100%;
		}

		figcaption {
			margin-top: 10px;
			padding: 0 6px;
			@include mixin.font('17px/1.4');

			> p {
				@include mixin.text-ellipsis(1);
			}

			.text_sub {
				margin-top: 3px;
				@include mixin.font(#6a6a6a'13px');
			}
		}
	}

	&.__list_skeleton__ {
		.image_banner {
			background-color: #f5f5f5;
		}

		.mm_promo-info {
			padding: 15px 15px 0 0;
			font-size: 0;

			p {
				background-color: #f5f5f5;
				height: 13px;
			}

			.text_sub {
				margin-top: 5px;
				width: 77%;
			}
		}
	}
}
//> 이벤트리스트

//< 배송지리스트
.mm_address-list {
	.btn_remove {
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
		padding: 15px 18px;
		@include mixin.font(#6a6a6a '13px/17px');
	}

	&:not(.mm_scroller) {
		padding: 22px 14px 0;

		.btn_register {
			margin-bottom: 22px;
			width: 100%;
		}

		li {
			position: relative;

			&:nth-child(n+2) {
				margin-top: 10px;
			}

			> a {
				display: block;
			}
		}
	}

	&.mm_scroller {
		ul {
			display: inline-block;
			padding: 0 14px;
			@include mixin.font('0', nowrap);

			li {
				display: inline-block;
				position: relative;
				width: 84vw;

				&:nth-child(n+2) {
					margin-left: 10px;
				}
			}
		}

		input[type="radio"] {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			@include mixin.opacity(0);

			&:checked {
				+ .mm_address-item {
					border-color: var.$color_primary_base;

					.mco_form-choice {
						color: var.$color_primary_base;
					}

					dt {
						span {
							margin: -1px -3px -2px -1px;
							padding: 1px 3px 2px 1px;
							background-color: #f0f7f7;
						}
					}
				}
			}
		}

		+ .mm_form-select {
			margin-top: 10px;
		}
	}
}

.mm_address-item {
	position: relative;
	padding: 18px 13px 17px;
	height: 153px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	@include mixin.font('13px/17px');

	.mco_form-choice {
		position: absolute;
		top: 20px;
		right: 19px;
		@include mixin.font(#cdcdcd '22px');
	}

	dl {
		padding-right: 46px;
		white-space: normal;

		dt {
			margin-right: -20px;
			padding-right: 68px;
			font-size: 16px;

			> span {
				display: inline-block;
				@include mixin.text-ellipsis(1);
				line-height: 1;
				max-width: 100%;
			}

			.mm_tag-list {
				display: inline-block;

				.mm_tag {
					position: relative;
				}
			}

			.mm_tag {
				position: absolute;
				margin-left: 13px;
			}
		}

		dd {
			margin-top: 8px;

			&:first-of-type {
				@include mixin.font(#7b7b7b '15px/18px');
			}
		}
	}

	&.__address-on {
		border-color: var.$color_primary_base;

		.mco_form-choice {
			color: var.$color_primary_base;
		}

		dt {
			b:not(.mm_tag) {
				margin: -1px -3px -2px -1px;
				padding: 1px 3px 2px 1px;
				background-color: #f0f7f7;
			}
		}
	}

	+ .mm_form-select {
		margin-top: 10px;
	}
}

a.mm_address-item {
	display: block;
	border-style: dashed;
	border-color: #cdcdcd;
	@include mixin.font(#4a4a4a center);

	.ico_plus {
		position: relative;
		margin: 17px 0 14px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: #f5f5f5;

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -1px 0 0 -11px;
			width: 22px;
			height: 2px;
			background-color: #8c8c8c;
		}

		&::after {
			margin: -11px 0 0 -1px;
			width: 2px;
			height: 22px;
			content: '';
		}
	}

	b {
		display: block;
	}
}
//> 배송지리스트

//< TOP BRAND 리스트
.mm_topbrand-list {
	counter-reset: listIndex;

	li {
		.text_rank::before {
			font-family: var.$fontFamily_latin;
			counter-increment: listIndex;
			content: counter(listIndex);
		}
	}

	.mm_dropdown {
		.btn_dropdown {
			@include mixin.flex-container();
			padding-left: 34px;
			height: 64px;

			$ranks: (up, #ff4800), (down, #6d86e4), (new, var.$color_primary_base), (unchanged, #999);
			@each $rank, $color in $ranks {
				@if $rank == up or $rank == down {
					.text_rank-#{$rank} {
						display: inline-block;
						@include mixin.font($color '12px' [var.$fontFamily_latin]);

						.mco_rank-#{$rank} {
							margin-right: 7px;
						}
					}
				}

				.mco_rank-#{$rank} {
					@if $rank == new {
						&::before {
							@include mixin.font($color 700 '12px');
						}
					}

					@if $rank == unchanged {
						margin-right: 7px;
						@include mixin.font($color '10px');
						@include mixin.transform(scale(0.7));
					}
				}
			}

			.text_rank {
				position: absolute;
				top: 0;
				left: -5px;
				@include mixin.font(#4a4a4a '12px/64px');

				&::before {
					width: 27px;
					text-align: center;
				}

				> * {
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			.image_brand {
				position: relative;
				padding: 14px 22px;
				width: 100px;
				height: 64px;
				background-origin: content-box;

				$format: (landscape-4x, 25px 8px), (landscape-3x, 23px 10px), (landscape-2x, 20px), (portrait-2x, 11px 8px), (portrait, 11px 8px);
				@each $ratio, $padding in $format {
					&.__image-#{$ratio} {
						padding: $padding;
					}
				}

				&.__preload-error::after {
					@include mixin.text-ellipsis(2);
					position: absolute;
					top: 50%;
					right: 0;
					left: 0;
					@include mixin.font(#aeaeae '14px/20px' center);
					content: attr(title);
					@include mixin.transform(translateY(-50%));
				}
			}

			.text_brand {
				@include mixin.prefix(flex, 1, webkit ms);
				@include mixin.text-ellipsis(1);
				padding-left: 15px;
				@include mixin.font(#4a4a4a '14px/62px');
			}
		}

		.mm_dropdown-item-inner {
			padding-bottom: 16px;

			ul {
				margin-left: -5px;
				padding: 0 5px 0 27px;

				li {
					float: left;
					width: 25%;
					padding-left: 5px;

					> a {
						display: block;
						position: relative;

						span:not(.mm_ir-blind) {
							position: absolute;
							top: 50%;
							right: 0;
							left: 0;
							@include mixin.transform(translateY(-50%));
							@include mixin.font(#fff '12px/16px' center);
						}

						.image_product {
							padding-top: 120%;
							width: 100%;
						}
					}

					&:last-child {
						> a::before {
							position: absolute;
							width: 100%;
							height: 100%;
							background-color: rgba(#000, 0.7);
							content: '';
						}
					}
				}
			}
		}
	}
}
//> TOP BRAND 리스트